body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  max-width: 90vw;
  width: 90vw;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  border-bottom: 4px solid #50007f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  background-color: #50007f;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 12px 20px;
  border-bottom: 2px solid #e0e0e0;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
  margin: 1.5rem 0;
  position: relative;
}

.form-group label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
  font-size: 14px;
  background-color: transparent;
  transition: border-bottom 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border-bottom: 2px solid #50007f;
}

textarea {
  resize: vertical;
  min-height: 6em;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button[type="button"] {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 8px;
}

.info-icon-container {
  position: relative;
  display: inline-block;
  align-items: center;
  margin-left: 8px;
  margin-top: 3px;
}

.info-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.7;
}

.info-icon:hover {
  opacity: 1;
}

.custom-tooltip {
  position: absolute;
  top: 50%;
  left: 120%; /* Ajusta esto para mover el tooltip más a la derecha */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10; /* Para asegurarse de que se muestre sobre otros elementos */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
.info-btn:hover .custom-tooltip {
  visibility: visible; /* Mostrar al hacer hover */
  opacity: 1;
  z-index: 99;
}

.info-btn {
  position: relative; /* Necesario para posicionar el tooltip correctamente */
}


button[type="submit"] {
  display: block;
  width: 60%;
  margin: 30px auto 0;
  padding: 15px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #50007f;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #4a148c;
}

.nav-btn-form.btn-filled {
  background-color: #50007f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-btn-form.btn-filled:hover {
  background-color: #4a148c;
}

fieldset {
  border: none;
}

label {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}

input[type="checkbox"] {
  margin-right: 10px;
}

#canal-contable {
  margin-left: 10px;
}



h2 {
  background-color: #50007f;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 12px 20px;
  border-bottom: 2px solid #e0e0e0;
  text-align: left;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 70px;
}

.logo-titulo {
  position: absolute;
  left: -40px;
  width: 80px;
  height: 80px;
  margin-left: 20px;
}
