<div class="pantalla-intermedia">
  <h2>Selecciona una Opcion</h2>
  <button class="action-button" (click)="navigateTo('formulario-nueva-iniciativa')">Nueva Iniciativa</button>
  <button class="action-button" (click)="navigateTo('estado-riesgos-por-area')">Cargar Riesgos</button>
  <button class="action-button" (click)="navigateTo('iniciativas-en-curso')">Iniciativas en Curso</button>
  <button class="corner-button icon-button enabled" (click)="goToTableroLooker()">
    
    <span>Tablero Status General</span>
  </button>

  <button class="action-button" disabled>Solicitud Canal Contable (WIP) </button>

</div>
