.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to right, #ffffff 30%, #ffb458);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra 3D para profundidad */
}



.logo-container img {
  transition: transform 0.3s ease, cursor 0.3s ease;
}

.logo-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.logo-container {
  display: flex;
  gap: 10px;
}

.logo-risk, .logo-nx {
  height: 40px;
  width: auto;
}

.nav-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  width: auto;
  max-width: 750px;
}

.nav-buttons .nav-btn, .nav-buttons .dropdown {
  flex-grow: 1;
  text-align: center;
}

.nav-buttons .dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 1;
  top: 100%;
  right: 0;
  border-radius: 5px;
  padding: 0.5rem 0;
  flex-direction: column;
  background-color: white;
  color: #50007F;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  color: #50007F;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #5a189a;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid #5a189a;
  background: white;
  color: #5a189a;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.btn-filled {
  background: #50007F;
  color: white;
  border: 2px solid #5a189a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-disabled {
  background-color: #d3d3d3;
  color: black;
  border: 1px solid #c0c0c0;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.btn-disabled:hover {
  background-color: #d3d3d3;
  color: black;
}

.btn-red {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 2px solid #5a189a;
  background: white;
  color: #5a189a;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: all 0.3s ease;
  position: absolute;
  top: auto;
  right: 10px;
  width: auto;
  flex-shrink: 0;
}

.btn-red:hover {
  background-color: red;
  border: 2px solid #5a189a;
  color: white;
  transform: translateY(-2px);
}

.navbar-logo {
  height: 24px;
  width: auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .nav-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .dropdown-content {
    right: 0;
  }
}

.dropdown-content a:nth-child(4) {
  pointer-events: none;
  cursor: not-allowed;
  color: rgb(71, 69, 69);
  opacity: 0.7;
}
