/* Estilo general para eliminar la barra de desplazamiento horizontal */
body, html {
  overflow-x: hidden; /* Elimina la barra de desplazamiento horizontal */
}

/* Estilos generales del formulario */
.form-container {
  flex: 1;
  padding: 1rem;
  max-width: 80vw; /* Ancho máximo del formulario */
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow-x: hidden; /* Elimina el desbordamiento horizontal en el formulario */
  margin-top:3%;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  position: relative; /* Para posicionar el ícono relativo a este contenedor */
}

.form-group label {
  display: inline-flex; /* Usar inline-flex para que el texto y el ícono estén en la misma línea */
  align-items: center; /* Alinea el ícono verticalmente con el texto */
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%; /* Asegura que el input, textarea y select ocupen el 100% del ancho */
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilo de textarea */
textarea {
  resize: vertical;  /* Permite que el textarea se redimensione solo verticalmente */
  width: 100%;        /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
  overflow: hidden;   /* Elimina el scroll */
  min-height: 4em;    /* Establece la altura mínima, puedes ajustarla */
  height: auto;       /* Permite que la altura se ajuste automáticamente */
  padding: 10px;      /* Opcional, para un poco de espacio interno */
}

/* Estilos del select */
#compañia.form-control {
  width: 100%; /* Hace que el select ocupe todo el ancho del contenedor */
  padding: 8px 12px; /* Espaciado interno para el texto */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 14px; /* Ajusta el tamaño del texto */
  background-color: #fff; /* Fondo blanco */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

/* Cuando el select está enfocado */
#compañia.form-control:focus {
  border-color: #360765; /* Color de borde al hacer foco */
  outline: none; /* Elimina el contorno predeterminado */
  background-color: #f7f7f7; /* Fondo gris claro al estar enfocado */
}

/* Para asegurarnos de que los selectores de otros navegadores no sobreescriban el estilo */
select.form-control {
  -webkit-appearance: none; /* Eliminar la apariencia predeterminada en Webkit */
  -moz-appearance: none; /* Eliminar la apariencia predeterminada en Firefox */
  appearance: none; /* Eliminar la apariencia predeterminada en otros navegadores */
}

/* Contenedor del select y el botón de información */
.select-container,
.input-container {
  position: relative;
  width: 100%;
}

/* Ajuste adicional para los inputs y select para dejar espacio para el icono */
.form-group input {
  padding-right: 50px; /* Deja espacio suficiente para el icono */
}

.form-group select {
  padding-right: 50px; /* Deja espacio suficiente para el icono */
}

/* Estilos para el botón de información */
button[type="button"] {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 8px;  /* Añadir un poco de espacio entre el texto y el ícono */
}

/* Estilos del contenedor del ícono de información */
.info-icon-container {
  position: relative;
  display: inline-block;
    align-items: center;
  margin-left: 8px; /* Añadir margen para espacio entre el texto y el ícono */
  margin-top:3px;
}

/* Estilos para la imagen del ícono de información */
.info-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.5;
}

/* Efecto hover para el ícono de información */
.info-icon:hover {
  opacity: 1;
}

/* Estilos para el tooltip personalizado */
.custom-tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size:10px;

}

/* Mostrar el tooltip cuando el botón está en hover */
.info-icon-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}
button[type="submit"] {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  height: 50px;
}
.nav-btn-form.btn-filled{
  background-color: #50007f; /* Color de fondo */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 14px;
  font-weight: bold;
}

.nav-btn-form.btn-filled:hover {
  background-color: #4a148c; /* Color al pasar el mouse */
}
