<div class="form-container">
  <h2>Formulario de Solicitud - Nuevas Iniciativas</h2>
  <form (ngSubmit)="enviarFormulario($event)">
    <div class="form-group">
      <label for="nombre">Nombre del Producto
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Selecciona si es un riesgo o recomendación.</span>
        </div>
      </label>
      <div class="input-container">
        <input type="text" id="nombre" required [(ngModel)]="nuevaIniciativa.nombreProducto" name="nombreProducto">
      </div>
    </div>

    <div class="form-group">
      <label for="vertical">Vertical
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Selecciona la vertical a la que perteneces.</span>
        </div>
      </label>
      <div class="select-container">
        <select id="vertical" class="form-control" [(ngModel)]="nuevaIniciativa.vertical" name="vertical">
          <option value="" disabled selected>Seleccione una</option>
            <option value="clienteEco">Cliente Ecosistémico & APP</option>
            <option value="homeSuscripciones">Home & Suscripciones</option>
            <option value="comercios">Comercios</option>
            <option value="consumersAlianzas">Consumers & Alianzas/ Merchants</option>
            <option value="creditos">Créditos</option>
            <option value="cuentasInversiones">Cuentas, Inversiones y Pagos</option>
            <option value="tarjetas">Tarjetas</option>
            <option value="segurosAsistencias">Seguros y Asistencias</option>
            <option value="cx">CX</option>
            <option value="finanzas">Finanzas</option>
            <option value="legales">Legales</option>
            <option value="marketing">Marketing</option>
            <option value="riesgos">Riesgos</option>
            <option value="soporteRRHH">Soporte - RRHH</option>
            <option value="tisiGestionCambios">TI/SI - Gestión de Cambios</option>
            <option value="tisiGestionOperaciones">TI/SI - Gestión de las Operaciones</option>
            <option value="gestionAccesos">Gestión de accesos Lógicos y Físicos</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Referente del Producto
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Correo electrónico del referente del producto.</span>
        </div>
      </label>
      <div class="input-container">
        <input type="email" id="email" placeholder="Correo electrónico Referente"  [(ngModel)] = "nuevaIniciativa.nombreReferenteProducto" name="nombreReferenteProducto" required>
      </div>
    </div>

    <div class="form-group">
      <label for="referenteUX">Referente de UX
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Correo electrónico del referente de UX.</span>
        </div>
      </label>
      <div class="input-container">
        <input type="email" id="referenteUX" [(ngModel)]="nuevaIniciativa.referenteUX" name="nombreReferenteUX" placeholder="Correo electrónico Referente UX">
      </div>
    </div>

    <div class="form-group">
      <label for="referenteIT">Referente de IT
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Correo electrónico del referente de IT.</span>
        </div>
      </label>
      <div class="input-container">
        <input type="email" id="referenteIT"  [(ngModel)]="nuevaIniciativa.referenteIT" name="nombreReferenteIT"  placeholder="Correo electrónico Referente IT">
      </div>
    </div>

    <div class="form-group">
      <label for="compañia">Compañía
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Selecciona la compañía correspondiente.</span>
        </div>
      </label>
      <div class="select-container">
        <select id="compañia" class="form-control"  [(ngModel)]="nuevaIniciativa.compania" name="compania" >
          <option value="" disabled selected>Seleccione una</option>
          <option value="TN">TN</option>
          <option value="ND">ND</option>
          <option value="NX">NX</option>

        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="fecha">Fecha Estimada de Implementación
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Fecha estimada de implementación del producto.</span>
        </div>
      </label>
      <div class="input-container">
        <input type="date" id="fecha" class="form-control"  [(ngModel)]="nuevaIniciativa.fechaEstimadaImplementacion" name="fechaEstimadaImplementacion">
      </div>
    </div>

    <div class="form-group">
      <label for="text-area">Descripción del Producto (Objetivo, Solución, Contexto, etc)
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Proporciona una descripción completa del producto.</span>
        </div>
      </label>
      <div class="input-container">
        <textarea id="text-area" rows="6" placeholder="Descripción del Producto o enlace a la documentación..." [(ngModel)]="nuevaIniciativa.descripcionProducto" name="descripcionProducto"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="revisadoSinRiesgos">
        <input type="checkbox" id="canal-contable"  name="revisadoSinRiesgos">
        Mi Producto/Iniciativa necesitará de la creación de un Canal Contable.
      </label>
      <div class="info-icon-container">
        <img class="info-icon" src="./assets/images/info.png" alt="Información" />
        <span class="custom-tooltip">Un canal contable es...</span>
      </div>

    </div>

    <button type="submit" class="nav-btn-form btn-filled">Enviar Solicitud</button>
  </form>
</div>
