body, html {
  overflow-x: hidden;
}

.form-container {
  flex: 1;
  padding: 1rem;
  max-width: 80vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-top: 3%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  position: relative;
}

.form-group label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 4em;
  height: auto;
  padding: 10px;
}

#compañia.form-control {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
}

#compañia.form-control:focus {
  border-color: #360765;
  outline: none;
  background-color: #f7f7f7;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-container,
.input-container {
  position: relative;
  width: 100%;
}

.form-group input {
  padding-right: 50px;
}

.form-group select {
  padding-right: 50px;
}

button[type="button"] {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 8px;
}

.info-icon-container {
  position: relative;
  display: inline-block;
  align-items: center;
  margin-left: 8px;
  margin-top: 3px;
}

.info-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.5;
}

.info-icon:hover {
  opacity: 1;
}

.custom-tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 10px;
}

.info-icon-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

button[type="submit"] {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  height: 50px;
}

.nav-btn-form.btn-filled {
  background-color: #50007f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 14px;
  font-weight: bold;
}

.nav-btn-form.btn-filled:hover {
  background-color: #4a148c;
}
