<div class="pantalla-intermedia-ia">
  <h2>Selecciona una Opcion</h2>
  <button class="action-button" (click)="navigateTo('formulario-nueva-iniciativa-ia')">Nueva Iniciativa IA</button>

  <button class="action-button">Iniciativa IA (Pre-Producción Internas)</button>

  <button class="action-button">Iniciativa IA (Pre-Producción Externas)</button>

  <button class="action-button">Monitoreo</button>

  <button class="action-button-carga" (click)="navigateTo('formulario-carga-riesgos-ia')">Cargar Riesgos IA</button>
</div>



