<div class="pantalla-intermedia">
  <h2>Selecciona una Opcion</h2>
  <button class="action-button" (click)="openForm('nueva-iniciativa-ia')">Nueva Iniciativa IA</button>

  <button class="action-button" (click)="openForm('nueva-iniciativa')">Iniciativa IA (Pre-Producción Internas)</button>

  <button class="action-button" (click)="openForm('nueva-iniciativa')">Iniciativa IA (Pre-Producción Externas)</button>

  <button class="action-button" (click)="openForm('nueva-iniciativa')">Monitoreo</button>

  <button class="action-button-carga" (click)="openForm('cargar-riesgos-ia')">Cargar Riesgos IA</button>
</div>



