.pantalla-intermedia-ia {
  text-align: center;
  margin-top: 10%;
}

.pantalla-intermedia-ia h2 {
  margin-bottom: 20px;
}

.action-button {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background-color: #360765;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #ee6c02;
}

.action-button:focus {
  outline: none;
}

.dropdown-content a:nth-child(4) {
  pointer-events: none;
  cursor: not-allowed;
  color: rgb(71, 69, 69);
  opacity: 0.7;
}

.action-button:disabled {
  background-color: rgb(83, 80, 80) ;
  cursor: not-allowed ;
  opacity: 0.5 ;
  pointer-events: none;
}


.action-button-carga {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background-color: #e98533;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button-carga:hover {
  background-color: #ee6c02;
}

.action-button-carga:focus {
  outline: none;
}
