.form-container {
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table a {
  color: #007bff;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.no-data-message {
  color: #888;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ddd;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.styled-table th, .styled-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.styled-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.styled-table td {
  background-color: #fff;
  color: #333;
}

.styled-table tr:hover {
  background-color: #f1f1f1;
}

.styled-table button {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin: 2px;
}

.styled-table button:hover {
  background-color: #45a049;
}

.styled-table .input-sin-borde {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 5px;
}

.styled-table select.input-sin-borde {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.styled-table .input-sin-borde:focus {
  outline: none;
}

.styled-table .info-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.styled-table .custom-tooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}

.styled-table .info-icon-container:hover .custom-tooltip {
  display: block;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container {
  position: relative;
  overflow-x: hidden;
}

.info-icon-container {
  position: relative;
  display: inline-block;
  align-items: center;
  margin-left: 8px;
  margin-top: 3px;
}

.info-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.5;
}

.info-icon:hover {
  opacity: 1;
}

.custom-tooltip {
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 10px;
}

.info-icon-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

button[type="submit"], .agregar-riesgos {
  margin-top: 20px;
  width: 100%;
}

.nav-btn-form.btn-filled, .agregar-riesgos {
  background-color: #50007f;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 14px;
  font-weight: bold;
}

.nav-btn-form.btn-filled:hover {
  background-color: #4a148c;
}

button[type="submit"], .agregar-riesgos {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  height: 50px;
}

.agregar-riesgos {
  background-color: #4386ec;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 14px;
  transition: box-shadow 0.3s ease;
}

.agregar-riesgos:hover {
  background-color: #0b5ed7;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.table-container {
  overflow-x: hidden;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 10px 12px;
  text-align: left;
  border: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  background-color: #f8f9fa;
  color: #333;
}

.table td:nth-child(2) {
  max-width: 200px;
}

button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

button:active {
  background-color: #ddd;
}

input[type="text"], textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-color: #007bff;
}

.input-sin-borde {
  border: none;
  outline: none;
  box-shadow: none;
}

fieldset {
  border: none;
}

label {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.jira-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.jira-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Estilo para el botón dentro de la tabla */
.table-container .table td a.jira-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.table-container .table td a.jira-link:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.table-container .table td {
  text-align: center;
  vertical-align: middle;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container .btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-container .btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.table-container .table th {
  background-color: #50007f;
  color: white;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  border-bottom: 3px solid #f4a019;
}

.table-container .table td {
  text-align: center;

  vertical-align: middle;
  padding: 10px;
  border-bottom: 1px solid #ddd;

}

.table-container .table tr:nth-child(even) {
  background-color: #f8f9fa;
}
