<div class="sidebar-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-item" (click)="selectForm('pantalla-intermedia-producto')">
      <img src="../assets/images/61972.png" alt="Logo Home" class="sidebar-logo">
      <span class="sidebar-text">Nuevo Producto</span>
    </div>
    <div class="sidebar-item" (click)="selectForm('pantalla-intermedia-ia')">
      <img src="../assets/images/12113767.png" alt="Logo 2" class="sidebar-logo">
      <span class="sidebar-text">Nueva Iniciativa IA</span>
    </div>
    <div class="sidebar-item disabled">
      <img src="../assets/images/salubridad.png" alt="Logo 2" class="sidebar-logo">
      <span class="sidebar-text">Salubridad de Productos</span>
    </div>

  </div>
</div>
