<div class="form-container">
  <h2>Carga de Riesgos - Solo Referentes</h2>
  <form (ngSubmit)="enviarFormulario($event)">
    <div *ngIf="mensajeAlerta" class="canal-message" [ngClass]="{'alert-success': tipoAlerta === 'success', 'alert-warning': tipoAlerta === 'warning'}">
      {{ mensajeAlerta }}
    </div>

    <div class="form-group">
      <label for="iniciativa">Iniciativa en Curso</label>
      <select id="iniciativa" class="form-control" [(ngModel)]="iniciativaSeleccionada" name="iniciativa" (ngModelChange)="onIniciativaSeleccionada()">
        <option *ngFor="let iniciativa of iniciativasEnCurso" [ngValue]="iniciativa">
          {{ iniciativa.epicId }} - {{ iniciativa.summary }} - ( {{iniciativa.status}} )
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="area-form">
        Área que levanta el riesgo:
        <div class="info-icon-container">
          <img class="info-icon" src="./assets/images/info.png" alt="Información" />
          <span class="custom-tooltip">Selecciona el área que levanta el riesgo.</span>
        </div>
      </label>
      <div class="select-container">
        <select id="area" name="area" class="form-control" [(ngModel)]="areaSeleccionada">
          <option value="" disabled selected>Seleccione una</option>
          <option value="Riesgo IT & OP">Riesgo IT & OP</option>
          <option value="Prevención de Fraudes">Prevención de Fraudes</option>
          <option value="Legales & Compliance">Legales & Compliance</option>
          <option value="Contabilidad">Contabilidad</option>
          <option value="Planning">Planning</option>
          <option value="Impuestos">Impuestos</option>
          <option value="Ciberseguridad">Ciberseguridad</option>
          <option value="Data">Data</option>
          <option value="Operaciones">Operaciones</option>
          <option value="Experiencia">Experiencia</option>
          <option value="ALM & Finanzas Corporativa">ALM & Finanzas Corporativas</option>
          <option value="PLAFT">PLAFT</option>
          <option value="Marketing">Marketing</option>
          <option value="area-select">Otro...</option>
        </select>
      </div>
    </div>

      <div class="form-group" *ngIf="!isVisible">
        <label for="tituloRiesgo">
          Título del Riesgo
          <div class="info-icon-container">
            <img class="info-icon" src="./assets/images/info.png" alt="Información" />
            <span class="custom-tooltip">Proporciona un título breve para el riesgo.</span>
          </div>
        </label>
        <div class="input-container">
          <input type="text" id="tituloRiesgo" [(ngModel)]="tituloRiesgo" name="tituloRiesgo" required >
        </div>
      </div>

      <div class="form-group" *ngIf="!isVisible">
        <label for="nombre">
          Nombre
          <div class="info-icon-container">
            <img class="info-icon" src="./assets/images/info.png" alt="Información" />
            <span class="custom-tooltip">Persona Responsable de levantar el Riesgo</span>
          </div>
        </label>
        <div class="input-container">
          <input type="text" id="nombreRiesgo" name="nombre" value="Manuel Perez" readonly>
        </div>
      </div>

      <div class="form-group" *ngIf="!isVisible">
        <label for="tipo">
          Tipo
          <div class="info-icon-container">
            <img class="info-icon" src="./assets/images/info.png" alt="Información" />
            <span class="custom-tooltip">Selecciona si es un riesgo o recomendación.</span>
          </div>
        </label>
        <div class="select-container" *ngIf="!isVisible">
          <select id="tipo" class="form-control" name="tipo" [(ngModel)]="tipoSeleccionado" required >
            <option value="" disabled selected>Seleccionar una</option>
            <option value="riesgo">Riesgo</option>
            <option value="recomendacion">Recomendación</option>
          </select>
        </div>
      </div>

      <div class="form-group" *ngIf="!isVisible">
        <label for="riesgo">
          Descripción del Riesgo
          <div class="info-icon-container">
            <img class="info-icon" src="./assets/images/info.png" alt="Información" />
            <span class="custom-tooltip">Describe el riesgo o proporciona enlaces relevantes.</span>
          </div>
        </label>
        <div class="input-container">
          <textarea id="riesgo" rows="6" [(ngModel)]="descripcionRiesgo" name="descripcionRiesgo" required ></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="revisadoSinRiesgos">
          <input type="checkbox" id="revisadoSinRiesgos"  name="revisadoSinRiesgos" (click)="toggleVisibility()">
          Revisado sin riesgos a levantar
        </label>
      </div>

    <button class="agregar-riesgos" type="button" (click)="agregarRiesgo()" *ngIf="!isVisible">Agregar Riesgo</button>

    <div class="table-container" *ngIf="riesgosTemporales.length > 0">
      <label for="tabla">Resumen de Riesgos</label>
      <table class="table" name="tabla">
        <thead>
          <tr>
            <th>Área</th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Iniciativa</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let riesgo of riesgosTemporales; let i = index">
            <td>
              <div *ngIf="!riesgo.editando">{{ riesgo.areaSeleccionada }}</div>
              <input *ngIf="riesgo.editando" [(ngModel)]="riesgo.areaSeleccionada" class="input-sin-borde" name="areaSeleccionada{{i}}" />
            </td>
            <td>
              <div *ngIf="!riesgo.editando">{{ riesgo.titulo }}</div>
              <input *ngIf="riesgo.editando" [(ngModel)]="riesgo.titulo" class="input-sin-borde" name="titulo{{i}}" />
            </td>
            <td>
              <div *ngIf="!riesgo.editando">{{ riesgo.tipo }}</div>
              <div *ngIf="riesgo.editando">
                <select [(ngModel)]="riesgo.tipo" class="input-sin-borde" name="tipo{{i}}" >
                  <option value="riesgo">Riesgo</option>
                  <option value="recomendacion">Recomendación</option>
                </select>
              </div>
            </td>
            <td>
              <div *ngIf="!riesgo.editando">{{ riesgo.descripcion }}</div>
              <input *ngIf="riesgo.editando" [(ngModel)]="riesgo.descripcion" class="input-sin-borde" name="descripcion{{i}}" />
            </td>
            <td>
              <div *ngIf="!riesgo.editando">{{ riesgo.iniciativaSeleccionada?.summary }}</div>
              <div *ngIf="riesgo.editando">
                <select [(ngModel)]="riesgo.iniciativaSeleccionada" class="input-sin-borde" name="iniciativa{{i}}" >
                  <option *ngFor="let iniciativa of iniciativasEnCurso" [ngValue]="iniciativa">
                    {{ iniciativa.summary }}
                  </option>
                </select>
              </div>
            </td>
            <td>
              <button *ngIf="!riesgo.editando" (click)="editarCampo(riesgo)">Editar</button>
              <button *ngIf="riesgo.editando" (click)="guardarCampo(riesgo, i)">Guardar</button>
              <button *ngIf="riesgo.editando" (click)="cancelarEdicion(riesgo)">Cancelar</button>
              <button *ngIf="!riesgo.editando" (click)="eliminarRiesgo(i)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="submit" class="nav-btn-form btn-filled" *ngIf="isVisibleEnviar">Enviar Solicitud</button>
    <button class="visualizar-riesgos" type="button" (click)="navigateTo('estado-riesgos-por-area')" *ngIf="!isVisible">Estado de Riesgos</button>

  </form>
</div>
