.form-container {
  flex: 1;
  padding: 1rem;
  max-width: 80vw; /* Ancho máximo del formulario */
  width: 100%;
  margin: 1px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para los grupos de formulario */
.form-group {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilo para el contenedor de la entrada */
.input-container {
  position: relative;
}

/* Estilo del contenedor del icono de información */
.info-icon-container {
  position: absolute;
  top: 50%;
  right: -30px; /* Ajusta este valor para que esté más alejado del input */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.info-icon {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.info-icon:hover {
  opacity: 1;
}

/* Estilo del tooltip personalizado */
.custom-tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.info-icon-container:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

/* Estilo de los botones */
button[type="submit"], .agregar-riesgos {
  margin-top: 20px;
  width: 100%; /* Asegura que los botones tengan el mismo ancho */
}

.nav-btn-form.btn-filled, .agregar-riesgos {
  background-color: #50007f; /* Color de fondo */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 14px;
  font-weight: bold;
}

.nav-btn-form.btn-filled:hover {
  background-color: #4a148c; /* Color al pasar el mouse */
}

/* Asegurar que los botones estén apilados */
button[type="submit"], .agregar-riesgos {
  display: block;
  width: 50%;
  margin: auto;
  margin-top:20px;
  height: 50px;
}

.agregar-riesgos {
  background-color: #4386ec; /* Color de fondo */
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 14px;
  transition: box-shadow 0.3s ease; /* Añade transición suave para la sombra */
}

/* Efecto hover con sombra negra a la derecha */
.agregar-riesgos:hover {
  background-color: #0b5ed7; /* Color más oscuro al pasar el mouse */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Sombra a la derecha */
}

.table-container {
  overflow-x: auto;
}

.table {
  width: 70vw;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed; /* Hace que las columnas tengan un ancho fijo */
}

.table th,
.table td {
  padding: 10px 12px;
  text-align: left;
  border: 1px solid #ddd;
  overflow: hidden; /* Esconde el texto desbordado */
  text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
  white-space: nowrap; /* Evita que el texto haga un salto de línea */
}

.table th {
  background-color: #f8f9fa;
  color: #333;
}

/* Específicamente para la columna "Descripción" */
.table td:nth-child(2) { /* Asegúrate de que sea la posición correcta de la columna */
  max-width: 200px; /* Ancho máximo para la descripción */
}

/* Botones de acción */
button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

button:active {
  background-color: #ddd;
}

/* Estilos para inputs y textareas */
input[type="text"], textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-color: #007bff;
}

.input-sin-borde {
  border: none;
  outline: none;
  box-shadow: none; /* Elimina el borde por enfoque también */
}
